Python MySQL

<section style="direction: rtl; text-align: justify; margin: 30px;">

## **MySQL در پایتون**

🧠 MySQL یکی از محبوب‌ترین سیستم‌های مدیریت پایگاه داده است که با استفاده از آن می‌توانید داده‌های خود را ذخیره و مدیریت کنید. در پایتون، شما می‌توانید از کتابخانه mysql-connector-python برای برقراری ارتباط و اجرای عملیات بر روی یک پایگاه داده MySQL استفاده کنید.

در ابتدا، باید این کتابخانه را نصب کنید. می‌توانید از این دستور را در خط فرمان وارد کنید:

</section>

> pip install mysql-connector-python

<section style="direction: rtl; text-align: justify; margin: 30px;">

حالا بیایید یک اتصال به پایگاه داده MySQL برقرار کنیم:

</section>

In [14]:
import mysql.connector

global mycursor

# برقراری اتصال
mydb = mysql.connector.connect(
    host="localhost",  # میزبان پایگاه داده
    user="root",  # نام کاربری
    password="1234",  # رمز عبور
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f52fb52ae00>

<section style="direction: rtl; text-align: justify; margin: 30px;">

سپس می‌توانید عملیات‌های مختلفی مانند اجرای کوئری‌ها یا درج، به‌روزرسانی و حذف داده‌ها را انجام دهید. به عنوان مثال:

</section>

In [15]:
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('shop',)
('sys',)

<section style="direction: rtl; text-align: justify; margin: 30px;">

برای ایجاد یک پایگاه داده در MySQL، از عبارت "CREATE DATABASE" استفاده کنید:

</section>

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="127.0.0.1",
    port="3306",
    user="root",
    password="1234"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE shop")

<section style="direction: rtl; text-align: justify; margin: 30px;">

اگر کد بالا بدون خطا اجرا شد، شما با موفقیت یک پایگاه داده ایجاد کرده اید.

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

### بررسی کنید که آیا پایگاه داده وجود دارد

شما می توانید بررسی کنید که آیا یک پایگاه داده وجود دارد با لیست تمام پایگاه های داده در سیستم خود را با استفاده از "نمایش پایگاه داده" بیانیه:

</section>

In [17]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('shop',)
('sys',)

<section style="direction: rtl; text-align: justify; margin: 30px;">

یا می‌توانید در هنگام ساخت اتصال بررسی کنید که آیا یک یتابیس وجود دارد یا خیر:

</section>

In [8]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234"
)

<section style="direction: rtl; text-align: justify; margin: 30px;">

اگر پایگاه داده وجود نداشته باشد، شما یک خطا دریافت خواهید کرد.

</section>

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

Python MySQL Create Table

<section style="direction: rtl; text-align: justify; margin: 30px;">

## **ساخت جدول**

برای ایجاد یک جدول در MySQL، از عبارت "CREATE DATABASE" استفاده کنید.

اطمینان حاصل کنید که هنگام ایجاد اتصال، نام پایگاه داده را تعریف می کنید

</section>

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="127.0.0.1",
    port="3306",
    user="root",
    password="1234",
    database="imsalione"
)

mycursor = mydb.cursor()

mycursor.execute(
    "CREATE TABLE custommers (name VARCHAR(255), address VARCHAR(255))")

<section style="direction: rtl; text-align: justify; margin: 30px;">

اگر کد بالا بدون خطا اجرا شد، اکنون با موفقیت یک جدول ایجاد کرده اید.

</section>

<section style="direction: rtl; text-align: justify; margin: 30px;">

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

### بررسی کنید که آیا جدول وجود دارد یا خیر

با دستور "SHOW TABLES" می‌توانید بررسی کنید که آیا جدول مورد نظر وجود دارد یا خیر:

</section>

In [8]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('customers',)

<section style="direction: rtl; text-align: justify; margin: 30px;">

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>
<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>


### کلید اصلی (Primary Key)

هنگام ایجاد یک جدول، شما همچنین باید یک ستون با یک کلید منحصر به فرد برای هر رکورد ایجاد کنید.

این کار را میتوان با تعریف یک کلید اولیه انجام داد.

ما از عبارت "INT AUTO_INTCREEMENT PRIME KEY" استفاده می کنیم که یک شماره منحصر به فرد برای هر رکورد وارد می کند. از 1 شروع می شود و برای هر رکورد یک واحد افزایش می یابد.

</section>

In [17]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

mycursor.execute(
    "CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

<section style="direction: rtl; text-align: justify; margin: 30px;">

اگر جدول در حال حاضر وجود دارد، از کلمه کلیدی ALTER TABLE استفاده کنید:

</section>

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

mycursor.execute(
    "ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

---

Python MySQL Insert Into Table

<section style="direction: rtl; text-align: justify; margin: 30px;">

برای پر کردن داده‌های یک جدول در MySQL، از عبارت "INSERT INTO" استفاده کنید.

</section>

In [23]:
import mysql.connector

mydb = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    port="3306",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("saleh", "tehran")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

<section style="direction: rtl; text-align: justify; margin: 30px;">

⚠️ مهم!: توجه به بیانیه: mydb.commit(). لازم است که تغییرات انجام شود، در غیر این صورت هیچ تغییری در جدول ایجاد نمیشود.

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

ردیف های چندگانه را وارد کنید  

برای قرار دادن چندین ردیف در یک جدول، از روش executemany() استفاده کنید.

پارامتر دوم روش executemany() لیستی از تاپل ها است که حاوی داده هایی است که می خواهید وارد کنید:

</section>