Python MySQL

<section style="direction: rtl; text-align: justify; margin: 30px;">

## **MySQL در پایتون**

🧠 MySQL یکی از محبوب‌ترین سیستم‌های مدیریت پایگاه داده است که با استفاده از آن می‌توانید داده‌های خود را ذخیره و مدیریت کنید. در پایتون، شما می‌توانید از کتابخانه mysql-connector-python برای برقراری ارتباط و اجرای عملیات بر روی یک پایگاه داده MySQL استفاده کنید.

در ابتدا، باید این کتابخانه را نصب کنید. می‌توانید از این دستور را در خط فرمان وارد کنید:

</section>

> pip install mysql-connector-python

<section style="direction: rtl; text-align: justify; margin: 30px;">

حالا بیایید یک اتصال به پایگاه داده MySQL برقرار کنیم:

</section>

In [1]:
import mysql.connector

global mycursor

# برقراری اتصال
mydb = mysql.connector.connect(
    host="localhost",  # میزبان پایگاه داده
    user="root",  # نام کاربری
    password="1234",  # رمز عبور
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f8d2a44b2e0>

<section style="direction: rtl; text-align: justify; margin: 30px;">

یا می‌توانیم به شکل زیر نتیجه اتصال را در خروجی چاپ کنیم: 

</section>

In [2]:
import mysql.connector
from mysql.connector import Error

def check_database_connection(): # دستورات ورود به بانک اطلاعاتی را به صورت یک تابع می‌نویسیم
    try:
        mydb = mysql.connector.connect(
            host = '127.0.0.1',
            port = '3306',
            user = 'root', 
            password = '1234',
            database = 'shop' # sample database
        )
        
        if mydb.is_connected(): # بررسی اتصال
            db_info = mydb.get_server_info()
            print(f"Connected to MySQL Server version {db_info}")
            cursor = mydb.cursor()
            cursor.execute("select database();")
            record = cursor.fetchone()
            print(f"You're connected to database: {record[0]}") 
            
    except Error as e:
        print(f"Error while connectiong to MySQL: {e}") # اگر اتصال برقرار نشود پیام روبرو در خروجی چاپ می‌شود
        
    finally:
        if mydb.is_connected(): # بستن اتصال به پایگاه داده
            cursor.close()
            mydb.close()
            print("MySQL connection closed")
            
check_database_connection()

Connected to MySQL Server version 8.0.37-0ubuntu0.22.04.3
You're connected to database: shop
MySQL connection closed

<section style="direction: rtl; text-align: justify; margin: 30px;">

سپس می‌توانید عملیات‌های مختلفی مانند اجرای کوئری‌ها یا درج، به‌روزرسانی و حذف داده‌ها را انجام دهید. به عنوان مثال:

</section>

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
    host = '127.0.0.1',
    port = '3306',
    user = 'root',
    password = '1234'
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES") # نمایش دیتابیس‌های درون پایگاه داده

for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('shop',)
('sys',)

<section style="direction: rtl; text-align: justify; margin: 30px;">

برای ایجاد یک پایگاه داده در MySQL، از عبارت "CREATE DATABASE" استفاده کنید:

</section>

In [12]:
import mysql.connector # فراخوانی کتابخانه
from mysql.connector import Error

def check_database_connection(): # تابع اتصال به پایگاه داده
    try:
        mydb = mysql.connector.connect(
        host="127.0.0.1",
        port="3306",
        user="root",
        password="1234"
        )

        mycursor = mydb.cursor()
        mycursor.execute("CREATE DATABASE shop") # ایجاد یک پایگاه داده
        
    except Error as e:
        print(f"failed to create database: {e}") # چنانچه دستورات با هر مشکلی مواجه شود پیغام روبرو در خروجی چاپ می‌شود
        
check_database_connection() # اجرای تابع

failed to create database: 1007 (HY000): Can't create database 'shop'; database exists

<section style="direction: rtl; text-align: justify; margin: 30px;">

اگر کد بالا بدون خطا اجرا شد، شما با موفقیت یک پایگاه داده ایجاد کرده اید.
اگر با خطای failed to create database مواجه شدید یعنی به احتمال زیاد پایگاه داده از قبل موجود هست.

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

### بررسی کنید که آیا پایگاه داده وجود دارد

شما می‌توانید با استفاده از روش زیر لیست پایگاه‌داده‌های خود را بررسی کنید و مطمئن شوید که آیا دیتابیس مد نظر شما وجود دارد یا خیر:

</section>

In [11]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('shop',)
('sys',)

<section style="direction: rtl; text-align: justify; margin: 30px;">

یا می‌توانید در هنگام ساخت اتصال بررسی کنید که آیا یک یتابیس وجود دارد یا خیر:

</section>

In [7]:
import mysql.connector
from mysql.connector import Error

def check_database_connection():
    try:
        mydb = mysql.connector.connect(
            host="localhost",
            user="root",
            password="1234",
            database="shop" # choose database name
        )
        print(f"the database are exists.")
    except Error as e:
        print(f"this database is not exeists... {e}")
              
check_database_connection()

the database are exists.

<section style="direction: rtl; text-align: justify; margin: 30px;">

اگر پایگاه داده وجود نداشته باشد، شما با خطای this database is not exeists... مواجه خواهید شد.

</section>

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

Python MySQL Create Table

<section style="direction: rtl; text-align: justify; margin: 30px;">

## **ساخت جدول**

برای ایجاد یک جدول در MySQL، از عبارت "CREATE DATABASE" استفاده کنید.

اطمینان حاصل کنید که هنگام ایجاد اتصال، نام پایگاه داده را تعریف می کنید

</section>

In [41]:
import mysql.connector
from mysql.connector import Error

def check_database_connection():
    try:
        mydb = mysql.connector.connect(
            host="localhost",
            port="3306",
            user="root",
            password="1234",
            database="shop"
        )

        mycursor = mydb.cursor()

        mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")
        
    except Error as e:
        print(f"Tabel already exists: {e}")
        
check_database_connection()

<section style="direction: rtl; text-align: justify; margin: 30px;">

اگر کد بالا بدون خطا اجرا شد، اکنون با موفقیت یک جدول ایجاد کرده اید. در غیر این صورت با خطای Tabel already exists مواجه خواهید شد.

</section>

<section style="direction: rtl; text-align: justify; margin: 30px;">

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

### بررسی کنید که آیا جدول وجود دارد یا خیر

با دستور "SHOW TABLES" می‌توانید بررسی کنید که آیا جدول مورد نظر وجود دارد یا خیر:

</section>

In [28]:
import mysql.connector
from mysql.connector import Error

def check_database_connection():
    try:
        mydb = mysql.connector.connect(
            host="localhost",
            user="root",
            password="1234",
            database="shop"
        )
        
        mycursor = mydb.cursor()
        
        mycursor.execute("SHOW TABLES")
        
        for x in mycursor:
            print(x)
            
    except Error as e:
        print(f"Does not exists any table...: {e}")
        
check_database_connection()

('customers',)

<section style="direction: rtl; text-align: justify; margin: 30px;">

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>
<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>


### کلید اصلی (Primary Key)

هنگام ایجاد یک جدول، شما همچنین باید یک ستون با یک کلید منحصر به فرد برای هر رکورد ایجاد کنید.

این کار را میتوان با تعریف یک کلید اولیه انجام داد.

ما از عبارت "INT AUTO_INCREMENT PRIMARY KEY" استفاده می کنیم که یک شماره منحصر به فرد برای هر رکورد وارد می کند. از 1 شروع می شود و برای هر رکورد یک واحد افزایش می یابد.

</section>

In [44]:
import mysql.connector
from mysql.connector import Error

def check_database_connection():
    try:
        mydb = mysql.connector.connect(
            host="localhost",
            user="root",
            password="1234",
            database="shop"
        )

        mycursor = mydb.cursor()
        mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")
        
    except Error as e:
        print(f"Error: {e}")
        
check_database_connection()

Error: 1050 (42S01): Table 'customers' already exists

<section style="direction: rtl; text-align: justify; margin: 30px;">

اگر جدول در حال حاضر وجود دارد، از کلمه کلیدی ALTER TABLE استفاده کنید:

</section>

In [45]:
import mysql.connector
from mysql.connector import Error

def check_database_connection():
    try:
        mydb = mysql.connector.connect(
            host="localhost",
            user="root",
            password="1234",
            database="shop"
        )

        mycursor = mydb.cursor()
        mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")
        
    except Error as e:
        print(f"Error: {e}")
        
check_database_connection()

Error: 1060 (42S21): Duplicate column name 'id'

---

Python MySQL Insert Into Table

<section style="direction: rtl; text-align: justify; margin: 30px;">

برای پر کردن داده‌های یک جدول در MySQL، از عبارت "INSERT INTO" استفاده کنید.

</section>

In [21]:
import mysql.connector

mydb = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    port="3306",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("saleh", "tehran")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

<section style="direction: rtl; text-align: justify; margin: 30px;">

⚠️ مهم!: توجه به بیانیه: mydb.commit(). لازم است که تغییرات انجام شود، در غیر این صورت هیچ تغییری در جدول ایجاد نمیشود.

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

ردیف های چندگانه را وارد کنید  

برای قرار دادن چندین ردیف در یک جدول، از روش executemany() استفاده کنید.

پارامتر دوم روش executemany() لیستی از تاپل ها است که حاوی داده هایی است که می خواهید وارد کنید:

</section>

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
    ('Peter', 'Lowstreet 4'),
    ('Amy', 'Apple st 652'),
    ('Hannah', 'Mountain 21'),
    ('Michael', 'Valley 345'),
    ('Sandy', 'Ocean blvd 2'),
    ('Betty', 'Green Grass 1'),
    ('Richard', 'Sky st 331'),
    ('Susan', 'One way 98'),
    ('Vicky', 'Yellow Garden 2'),
    ('Ben', 'Park Lane 38'),
    ('William', 'Central st 954'),
    ('Chuck', 'Main Road 989'),
    ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>
<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

<section style="direction: rtl; text-align: justify; margin: 30px;">

شما می توانید شناسه ردیف را که فقط با درخواست شیء مکان نما وارد کرده اید دریافت کنید.

⚠️ توجه: اگر بیش از یک ردیف را وارد کنید، شناسه آخرین ردیف وارد شده بازگردانده می شود.

</section>

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("saleh", "tehran")
mycursor.execute(sql, val)

mydb.commit()

print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 1

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

Python MySQL Select From

<section style="direction: rtl; text-align: justify; margin: 30px;">

## **انتخاب یک عبارت**

برای انتخاب از یک جدول در MySQL، از عبارت "SELECT" استفاده کنید:

</section>

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'saleh', 'tehran')
(2, 'Peter', 'Lowstreet 4')
(3, 'Amy', 'Apple st 652')
(4, 'Hannah', 'Mountain 21')
(5, 'Michael', 'Valley 345')
(6, 'Sandy', 'Ocean blvd 2')
(7, 'Betty', 'Green Grass 1')
(8, 'Richard', 'Sky st 331')
(9, 'Susan', 'One way 98')
(10, 'Vicky', 'Yellow Garden 2')
(11, 'Ben', 'Park Lane 38')
(12, 'William', 'Central st 954')
(13, 'Chuck', 'Main Road 989')
(14, 'Viola', 'Sideway 1633')

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>
<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

Using the fetchone() Method

<section style="direction: rtl; text-align: justify; margin: 30px;">

### **استفاده از متد fetchone()**

برای انتخاب یک ردیف از اطلاعات می‌توان از متد fetchone() استفاده کرد.

روش ()fetchone اولین ردیف نتیجه را برمی گرداند:

</section>

In [5]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchone()

print(myresult)

(1, 'saleh', 'tehran')

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

Python MySQL Where

<section style="direction: rtl; text-align: justify; margin: 30px;">

## **جستجوی یک عبارت**

هنگام انتخاب رکوردها از یک جدول، می توانید انتخاب را با استفاده از عبارت "WHERE" فیلتر کنید:

</section>

In [6]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE name = 'Betty'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(7, 'Betty', 'Green Grass 1')

<section style="direction: rtl; text-align: justify; margin: 30px;">

🧠 بازنویسی کد با استفاده Try/Except برای کنترل خطاهای احتمالی و جلوگیری از SQL Injection: 

</section>

In [16]:
import mysql.connector
from mysql.connector import Error

def check_database_connection():
    try:        
        with mysql.connector.connect(
            host = '127.0.0.1',
            user = 'root',
            password = '1234',
            database = 'shop'
        ) as mydb:
            with mydb.cursor() as mycursor:
                sql = "SELECT * FROM customers WHERE name = %s"
                mycursor.execute(sql, ('Betty',))
                myresult = mycursor.fetchall()
                for x in myresult:
                    print(x)
    except Error as e:
        print(f"Error: {e}")
        
def main():
    check_database_connection()
    
if __name__ == "__main__":
    main()

(7, 'Betty', 'Green Grass 1')

<section style="direction: rtl; text-align: justify; margin: 30px;">

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

### **کاراکترهای Wildcard**

همچنین می‌توانید رکوردهایی را انتخاب کنید که با یک حرف یا عبارت مشخص شروع، شامل یا پایان می‌شوند.

از %  برای نمایش کاراکترهای wildcard استفاده کنید:

</section>

In [22]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address LIKE '%way%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(16, 'Susan', 'One way 98')
(21, 'Viola', 'Sideway 1633')

<section style="direction: rtl; text-align: justify; margin: 30px;">

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>
<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

### **جلوگیری از تزریق SQL**

هنگامی که مقادیر پرس و جو توسط کاربر ارائه می شود، باید مقادیر را escape کرد.

این برای جلوگیری از تزریق SQL است، که یک تکنیک رایج هک وب برای از بین بردن یا سوء استفاده از پایگاه داده شما است.

ماژول mysql.connector روش هایی برای فرار از مقادیر پرس و جو دارد:

</section>

In [23]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(17, 'Vicky', 'Yellow Garden 2')

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

Python MySQL Order By

<section style="direction: rtl; text-align: justify; margin: 30px;">

## **مرتب کردن نتایج**

از دستور ORDER BY برای مرتب کردن نتیجه به ترتیب صعودی یا نزولی استفاده کنید.

کلمه کلیدی ORDER BY نتیجه را بصورت صعودی مرتب می کند. برای مرتب کردن نتیجه به ترتیب نزولی، از کلمه کلیدی DESC استفاده کنید.

</section>

In [24]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(10, 'Amy', 'Apple st 652')
(18, 'Ben', 'Park Lane 38')
(14, 'Betty', 'Green Grass 1')
(20, 'Chuck', 'Main Road 989')
(11, 'Hannah', 'Mountain 21')
(12, 'Michael', 'Valley 345')
(9, 'Peter', 'Lowstreet 4')
(15, 'Richard', 'Sky st 331')
(25, 'saleh', 'tehran')
(13, 'Sandy', 'Ocean blvd 2')
(16, 'Susan', 'One way 98')
(17, 'Vicky', 'Yellow Garden 2')
(21, 'Viola', 'Sideway 1633')
(19, 'William', 'Central st 954')

<section style="direction: rtl; text-align: justify; margin: 30px;">

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

### **مرتب کردن نزولی**

از کلمه کلیدی DESC برای مرتب کردن نتایج به ترتیب نزولی استفاده کنید.

</section>

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers ORDER BY name DESC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(19, 'William', 'Central st 954')
(21, 'Viola', 'Sideway 1633')
(17, 'Vicky', 'Yellow Garden 2')
(16, 'Susan', 'One way 98')
(13, 'Sandy', 'Ocean blvd 2')
(25, 'saleh', 'tehran')
(15, 'Richard', 'Sky st 331')
(9, 'Peter', 'Lowstreet 4')
(12, 'Michael', 'Valley 345')
(11, 'Hannah', 'Mountain 21')
(20, 'Chuck', 'Main Road 989')
(14, 'Betty', 'Green Grass 1')
(18, 'Ben', 'Park Lane 38')
(10, 'Amy', 'Apple st 652')

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

Python MySQL Delete From By

<section style="direction: rtl; text-align: justify; margin: 30px;">

## **حذف کردن نتایج**

با استفاده از عبارت "DELETE FROM" می توانید رکوردها را از یک جدول موجود حذف کنید:

</section>

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    port="3306",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

<section style="direction: rtl; text-align: justify; margin: 30px;">

⚠️ مهم!: به عبارت mydb.commit توجه کنید. انجام تغییرات الزامی است، در غیر این صورت هیچ تغییری در جدول ایجاد نمی شود.

⚠️ به عبارت WHERE در نحو DELETE توجه کنید: عبارت WHERE مشخص می کند که کدام رکورد(ها) باید حذف شوند. اگر بند WHERE را حذف کنید، تمام رکوردها حذف خواهند شد!


<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>
<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

### **(SQL Injection) جلوگیری از تزریق SQL**

فرار از مقادیر هر پرس و جو، همچنین در دستورات حذف، یک روش خوب در نظر گرفته می شود.

این برای جلوگیری از تزریق SQL است، که یک تکنیک رایج هک وب برای از بین بردن یا سوء استفاده از پایگاه داده شما است.

ماژول mysql.connector از مکان نگهدار %s برای فرار از مقادیر در عبارت delete استفاده می کند:

</section>

In [7]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

Python MySQL Drop Table

<section style="direction: rtl; text-align: justify; margin: 30px;">

## **حذف یک جدول**

با استفاده از عبارت "DROP TABLE" می توانید یک جدول موجود را حذف کنید:

</section>

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "DROP TABLE customers"

mycursor.execute(sql)

<section style="direction: rtl; text-align: justify; margin: 30px;">

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

اگر جدولی که می خواهید حذف کنید قبلاً حذف شده است یا به هر دلیل دیگری وجود ندارد، می توانید از کلمه کلیدی IF EXISTS برای جلوگیری از خطا استفاده کنید.

</section>

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "DROP TABLE IF EXISTS customers"

mycursor.execute(sql)

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

Python MySQL Update Table

<section style="direction: rtl; text-align: justify; margin: 30px;">

## **بروزرسانی یک جدول**

با استفاده از عبارت "UPDATE" می توانید رکوردهای موجود در جدول را به روز کنید:

</section>

In [20]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

print("-----------------------\n")

sql = "SELECT * FROM customers"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

1 record(s) affected
-----------------------

(1, 'Peter', 'Lowstreet 4')
(2, 'Amy', 'Apple st 652')
(3, 'Hannah', 'Mountain 21')
(4, 'Michael', 'Canyon 123')
(5, 'Sandy', 'Ocean blvd 2')
(6, 'Betty', 'Green Grass 1')
(7, 'Richard', 'Sky st 331')
(8, 'Susan', 'One way 98')
(9, 'Vicky', 'Yellow Garden 2')
(10, 'Ben', 'Park Lane 38')
(11, 'William', 'Central st 954')
(12, 'Chuck', 'Main Road 989')
(13, 'Viola', 'Sideway 1633')
(14, 'saleh', 'tehran')

<section style="direction: rtl; text-align: justify; margin: 30px;">

⚠️ مهم!: به عبارت mydb.commit توجه کنید. انجام تغییرات الزامی است، در غیر این صورت هیچ تغییری در جدول ایجاد نمی شود.

به عبارت WHERE در نحو UPDATE توجه کنید: عبارت WHERE مشخص می کند که کدام رکورد یا رکوردهایی که باید به روز شوند. اگر بند WHERE را حذف کنید، تمام رکوردها به روز می شوند!

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>
<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

### **SQL Injection (جلوگیری از تزریق SQL)**

فرار از مقادیر هر پرس و جو، همچنین در بیانیه های به روز رسانی، عمل خوبی در نظر گرفته می شود.

این برای جلوگیری از تزریق SQL است، که یک تکنیک رایج هک وب برای از بین بردن یا سوء استفاده از پایگاه داده شما است.

ماژول mysql.connector از مکان نگهدار %s برای فرار از مقادیر در عبارت delete استفاده می کند:

</section>

In [22]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "UPDATE customers SET address = %s WHERE address = %s"
val = ("Valley 345", "Canyon 123")

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

print("------------------------\n")

sql = "SELECT * FROM customers"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

0 record(s) affected
------------------------

(1, 'Peter', 'Lowstreet 4')
(2, 'Amy', 'Apple st 652')
(3, 'Hannah', 'Mountain 21')
(4, 'Michael', 'Valley 345')
(5, 'Sandy', 'Ocean blvd 2')
(6, 'Betty', 'Green Grass 1')
(7, 'Richard', 'Sky st 331')
(8, 'Susan', 'One way 98')
(9, 'Vicky', 'Yellow Garden 2')
(10, 'Ben', 'Park Lane 38')
(11, 'William', 'Central st 954')
(12, 'Chuck', 'Main Road 989')
(13, 'Viola', 'Sideway 1633')
(14, 'saleh', 'tehran')

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

Python MySQL Limit

<section style="direction: rtl; text-align: justify; margin: 30px;">

## **محدوده پرس و جو**

با استفاده از عبارت "LIMIT" می توانید تعداد رکوردهای برگشتی از پرس و جو را محدود کنید:

</section>

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers LIMIT 5"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

<section style="direction: rtl; text-align: justify; margin: 30px;">

اگر می خواهید پنج رکورد را برگردانید، با شروع از رکورد سوم، می توانید از کلمه کلیدی "OFFSET" استفاده کنید:

</section>

In [26]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers LIMIT 5 OFFSET 2"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(3, 'Hannah', 'Mountain 21')
(4, 'Michael', 'Valley 345')
(5, 'Sandy', 'Ocean blvd 2')
(6, 'Betty', 'Green Grass 1')
(7, 'Richard', 'Sky st 331')

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

Python MySQL Join

<section style="direction: rtl; text-align: justify; margin: 30px;">

## **ترکیب جداول**

با استفاده از عبارت JOIN می‌توانید ردیف‌های دو یا چند جدول را بر اساس ستون مرتبط بین آنها ترکیب کنید.

در نظر بگیرید که یک جدول "کاربران" و یک جدول "محصولات" دارید:

</section>

### users:
```
    { id: 1, name: 'John', fav: 154},
    { id: 2, name: 'Peter', fav: 154},
    { id: 3, name: 'Amy', fav: 155},
    { id: 4, name: 'Hannah', fav:},
    { id: 5, name: 'Michael', fav:}
```

### products:
```
    { id: 154, name: 'Chocolate Heaven' },
    { id: 155, name: 'Tasty Lemons' },
    { id: 156, name: 'Vanilla Dreams' }
```
<section style="direction: rtl; text-align: justify; margin: 30px;">

این دو جدول را می توان با استفاده از فیلد fav از user و فیلد id از products ترکیب کرد.

🧠 ابتدا باید جدول users و products را در دیتابیس shop ایجاد کنیم:

</section>

In [9]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    port="3306",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

# ایجاد جدول users:
mycursor.execute(
    "CREATE TABLE users (id INT(10), name VARCHAR(255), fav INT(10))")

# ایجاد جدول products:
mycursor.execute(
    "CREATE TABLE products (id INT(10), name VARCHAR(255), city VARCHAR(255))")

<section style="direction: rtl; text-align: justify; margin: 30px;">

سپس مقادیر هر کدام از جداول را داخل آن جدول وارد می‌کنیم:

</section>

In [16]:
# users data:

sql = "INSERT INTO users (name, fav) VALUES (%s, %s)"
users = [
    {'id': 1, 'name': 'John', 'fav': 154},
    {'id': 2, 'name': 'Peter', 'fav': 154},
    {'id': 3, 'name': 'Amy', 'fav': 155},
    {'id': 4, 'name': 'Hannah', 'fav': 155},
    {'id': 5, 'name': 'Michael', 'fav': 154}
]

for user in users:
    sql = "INSERT INTO users (id, name, fav) VALUES (%s, %s, %s)"
    mycursor.execute(sql, (user['id'], user['name'], user['fav']))

In [14]:
# products data:

products = [
    {'id': 154, 'name': 'Chocolate Heaven', 'city': 'tehran'},
    {'id': 155, 'name': 'Tasty Lemons', 'city': 'tehran'},
    {'id': 156, 'name': 'Vanilla Dreams', 'city': 'tehran'}
]

for product in products:
    sql = "INSERT INTO products (id, name, city) VALUES (%s, %s, %s)"
    mycursor.execute(sql, (product['id'], product['name'], product['city']))

<section style="direction: rtl; text-align: justify; margin: 30px;">

در مرحله بعد این دو جدول را می توان با استفاده از فیلد fav از user و فیلد id از products ترکیب کرد.

</section>

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  INNER JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)


<section style="direction: rtl; text-align: justify; margin: 30px;">

توجه: می توانید به جای JOIN داخلی از JOIN استفاده کنید. هر دو نتیجه یکسانی به شما خواهند داد.

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>
<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

</section>

### **LEFT JOIN**

<section style="direction: rtl; text-align: justify; margin: 30px;">

در مثال بالا، هانا و مایکل از نتیجه حذف شدند، به این دلیل که JOIN داخلی فقط رکوردهایی را نشان می‌دهد که در آن تطابق وجود دارد.

اگر می‌خواهید به همه کاربران نشان دهید، حتی اگر محصول مورد علاقه‌ای ندارند، از عبارت LEFT JOIN استفاده کنید:

</section>

In [2]:
sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  LEFT JOIN products ON users.fav = products.id"

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

### **RIGHT JOIN**

<section style="direction: rtl; text-align: justify; margin: 30px;">

اگر می‌خواهید همه محصولات را برگردانید و کاربرانی که آنها را به عنوان مورد علاقه خود دارند، حتی اگر هیچ کاربری آنها را به عنوان مورد علاقه خود نداشته باشد، از عبارت RIGHT JOIN استفاده کنید:

</section>

In [3]:
sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  RIGHT JOIN products ON users.fav = products.id"

<section style="direction: rtl; text-align: justify; margin: 30px;">

توجه: هانا و مایکل که هیچ محصول مورد علاقه ای ندارند، در نتیجه گنجانده نشده اند.

</section>

___
<section style="direction:rtl; text-align: center; margin: 30px;">

### **پایان بخش MySql**

</section>