In [34]:
import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    port = "3306",
    user = "root",
    passwd = "1234",
    database = "shop"
)

print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f831e4c9e70>

In [1]:
x = 'saleh'
y = 36

print(f"{x = }")
print(f'{y = }')

x = 'saleh'
y = 36

In [6]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
person1 = Person("saleh", 36)

print(f"{person1.name, person1.age}")

('saleh', 36)